@import '../../../assets/variables';

div{
    width: 150px;
    height: 250px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 15px;
    border: 1px solid $border-color-main;

    &:hover{
        box-shadow: $box-shadow;
    }

    p{
        height: calc(100% - 70px);
        display: flex;
        flex-direction: column;
        padding: 35px 5px 1px 5px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        color: $primary-color;

        i{
            margin-bottom: 30px;
            color: $color-icono-primary;
        }
    }

    section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        text-align: center;
        color: $tertiary-color;
    }
}

.color-primary{
    background-color: $secundary-color-box;
}

.color-secundary{
    background-color: $primary-color-box;
}

.color-tertiary{
    background-color: $tertiary-color-box;
}

.color-fourth{
    background-color: $fourth-color-box;
}


@media (width <= 768px){
    div{
        width: 100%;
        margin-bottom: 20px;
    }
}