<h1>Calculadora de interés compuesto</h1>

<div>
    <main>
        <div class="card">
            <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
        </div>

        <h2>Resultados</h2>
        <div class="resultados">
            <jrsm-resultados [titulo]="'Depósito inicial'"
                             [icono]="'pi-dollar'" [color]="'color-secundary'"
                             [valor]="(!depositoInicial) ? 0 : depositoInicial"></jrsm-resultados>

            <jrsm-resultados [titulo]="'Depósitos adicionales acumulados'"
                             [icono]="'pi-money-bill'" [color]="'color-primary'"
                             [valor]="(!depositosAdicionales) ? 0 : depositosAdicionales"></jrsm-resultados>

            <jrsm-resultados [titulo]="'Interés acumulado'"
                             [icono]="'pi-folder'" [color]="'color-tertiary'"
                             [valor]="(!interesAcumuladoTotal) ? 0 : interesAcumuladoTotal"></jrsm-resultados>

            <jrsm-resultados [titulo]="'Total'"
                             [icono]="'pi-wallet'" [color]="'color-fourth'"
                             [valor]="(!interesAcumuladoTotalAnual) ? 0 : interesAcumuladoTotalAnual"></jrsm-resultados>
        </div>

        <h2>Resultados por año</h2>
        <div class="resultados-por-anio">
            <jrsm-tabla-resultados [aniosArray]="aniosArray"
                                   [depositoInicialArray]="depositoInicialArray"
                                   [depositosAdcionalesArray]="depositosAdcionalesArray"
                                   [interesAcumuladoArray]="interesAcumuladoArray"
                                   [totalArray]="totalArray"></jrsm-tabla-resultados>   
        </div>
    </main>


    <form [formGroup]="myForm">
        <label>Depósito inicial
            <i class="pi pi-dollar" style="font-size: 1rem"></i>
        </label>
        <input type="number" formControlName="depositoInicial">

        <label>Tasa de interés anual
            <i class="pi pi-percentage" style="font-size: 1rem"></i>
        </label>
        <input type="number" formControlName="tasaInteresAnual">

        <label>Años a invertir
            <i class="pi pi-calendar" style="font-size: 1rem"></i>
        </label>
        <input type="number" formControlName="aniosInvertir">

        <label>Aportaciones adicionales anuales
            <i class="pi pi-dollar" style="font-size: 1rem"></i>
        </label>
        <input type="number" formControlName="aportacionesAdicionales">
    </form>
</div>

<!-- <router-outlet>
</router-outlet> -->