@import '../assets/variables';

h1{
    text-align: center;
    color: $color-title;
    padding: 1rem;
    background-color: $tertiary-color-box;
}

div{
    display: flex;
    padding: 20px 40px;

    form{
        padding: 20px;
        width: 35%;
        height: 100vh;

        label{
            width: 100%;
            display: block;
            height: 25px;
            color: $primary-color;
        
            i{
                display: block;
                margin-top: 23px;
                margin-left: 10px;
                color: $color-icono-primary
            }
        }
        
        input{
            box-sizing: border-box;
            background: none;
            display: block;
            outline: 0;
            width: 100%;
            height: 45px;
            border: 1px solid $color-icono;
            border-radius: 4px;
            margin-bottom: 20px;
            padding-right: 20px;
            padding-left: 40px;
            font-size: 22px;
            color: $tertiary-color;
            
            &:hover, &:active{
                //border: 1px solid $primary-color;
                box-shadow: $box-shadow;
            }
            
            &:focus{
                border: 1px solid $tertiary-color-box;
            }
        }        
    }

    main{
        width: 65%;
        min-height: 100vh;
        border: 1px solid $border-color-main;

        .card{
            padding: 20px;

            p-chart{
                width: 100%;
            }
        }

        h2{
            color: $color-subtitle;
            text-align: center;
        }

        .resultados{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

            jrsm-resultados{
                margin-bottom: 20px;
            }
        }

        .resultados-por-anio{
            width: 100%;
        }
    }
}

@media (width <= 768px){
    h1{
        padding: 20px;
        //padding: 3px;
        font-size: 20px;
    }

    div{
        flex-direction: column-reverse;

        form{
            padding: 0px;
            width: 100%;
            height: 350px;
        }
    
        main{
            width: 100%;
            border: none;
    
            .resultados{
                margin-bottom: 20px;

                jrsm-resultados{
                    width: 100%;
                }
            }

            .resultados-por-anio{
                width: 100%;
                overflow-x: auto;
            }
        }
    }
}

