<table>
    <thead>
        <tr>
            <th>Años</th>
            <th>Depósito inicial</th>
            <th>Depósitos adicionales acumulados</th>
            <th>Interés acumulado</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <td>
            <tr *ngFor="let anios of aniosArray">{{anios}}</tr>
        </td>

        <td>
            <tr *ngFor="let deposito of depositoInicialArray">{{deposito | currency}}</tr>
        </td>

        <td>
            <tr *ngFor="let depAdicionales of depositosAdcionalesArray">{{depAdicionales | currency}}</tr>
        </td>

        <td>
            <tr *ngFor="let interesAcumulado of interesAcumuladoArray">{{interesAcumulado | currency}}</tr>
        </td>

        <td>
            <tr *ngFor="let total of totalArray">{{total | currency}}</tr>
        </td>
    </tbody>
</table>