@import '../../../assets/variables';

table{
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    thead{
        color: $secundary-color;
        border-bottom: 1px solid $border-color-main;
        
        tr{
            th{
                padding: 15px;
            }
        }
    }

    tbody{
        color: $primary-color;
        td{
            tr{
                display: block;
                text-align: center;
                padding: 15px;
                border-bottom: 1px solid $border-color-main;
            }
        }

    }
}