@import './mixins';

* {
    border: 0;
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);

    &:before,
    &:after {
        border: 0;
        margin: 0;
        padding: 0;
        @include box-sizing(border-box);
    }
}
