$font-family: "Roboto", Arial, Helvetica, sans-serif;

$primary-color: rgb(124, 124, 124);
$secundary-color: rgb(134, 134, 134);
$tertiary-color: rgb(54, 54, 54);
$fourth-color: yellow;

$color-title: rgb(44, 44, 44);
$color-subtitle: rgb(82, 82, 82);

$color-icono: rgb(196, 196, 196);
$color-icono-primary: rgb(151, 151, 151);
$border-color-main: rgb(226, 226, 226);

$primary-color-box: #11A4AB; //#68C0E3; //#6C92D9; //#1c81a2;
$secundary-color-box: #4A76C6; //#429CBD; //#B5CDD9; //#23a1cd;
$tertiary-color-box: #1486C8; //#0f83ad; //#6CB5D9; //#4cbb9f;
$fourth-color-box: #63B6E6; //#179AE6; //#23a1cd; //#269176;

$box-shadow: 0 0 3px 1px rgb(218, 217, 217);

