@import 'primeicons/primeicons.css';
@import './assets/variables';
@import './assets/reset';

html {
    font-family: $font-family;
    font-size: 14px;
}

body {
    //background-color: #000000;
    font-size: 900;
}

